<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.dao.StatisticsMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.homework.domain.Statistics">
                    <id column="id" property="id"/>
                    <result column="create_time" property="createTime"/>
                    <result column="modify_time" property="modifyTime"/>
                    <result column="infect_source" property="infectSource"/>
                    <result column="pass_way" property="passWay"/>
                    <result column="img_url" property="imgUrl"/>
                    <result column="daily_pic" property="dailyPic"/>
                    <result column="summary" property="summary"/>
                    <result column="deleted" property="deleted"/>
                    <result column="count_remark" property="countRemark"/>
                    <result column="current_confirmed_count" property="currentConfirmedCount"/>
                    <result column="confirmed_count" property="confirmedCount"/>
                    <result column="suspected_count" property="suspectedCount"/>
                    <result column="cured_count" property="curedCount"/>
                    <result column="dead_count" property="deadCount"/>
                    <result column="serious_count" property="seriousCount"/>
                    <result column="virus" property="virus"/>
                    <result column="remark1" property="remark1"/>
                    <result column="remark2" property="remark2"/>
                    <result column="remark3" property="remark3"/>
                    <result column="remark4" property="remark4"/>
                    <result column="remark5" property="remark5"/>
                    <result column="note1" property="note1"/>
                    <result column="note2" property="note2"/>
                    <result column="note3" property="note3"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, create_time, modify_time, infect_source, pass_way, img_url, daily_pic, summary, deleted, count_remark, current_confirmed_count, confirmed_count, suspected_count, cured_count, dead_count, serious_count, virus, remark1, remark2, remark3, remark4, remark5, note1, note2, note3
        </sql>
    <!-- 获取数据库最后一条数据 -->
    <select id="selectLastRow" resultType="com.homework.domain.Statistics">
      select * from t_statistics order by id desc limit 0,1;
    </select>
    <!-- 获取数据库倒数第二条数据，即昨天的数据 -->
    <select id="selectYesterdayData" resultType="com.homework.domain.Statistics">
      select * from t_statistics order by id desc limit 1,2;
    </select>
    <!-- 获取数据库倒数两条的数据 -->
    <select id="selectTwoData" resultType="com.homework.domain.Statistics">
      select * from t_statistics order by id desc limit 0,2;
    </select>



</mapper>